motogp_library/motogp_stage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd"/>
    <xs:include schemaLocation="./competitor.xsd"/>
    <xs:include schemaLocation="./team.xsd"/>
    <xs:complexType name="stageType">
        <xs:attribute type="stageUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="description" use="optional"/>
        <xs:attribute type="xs:dateTime" name="scheduled" use="optional"/>
        <xs:attribute type="xs:dateTime" name="scheduled_end" use="optional"/>
        <xs:attribute type="stageStatusType" name="status" use="optional"/>
        <xs:attribute type="stageTypeType" name="type" use="required"/>
        <xs:attribute type="xs:int" name="laps" use="optional"/>
        <xs:attribute type="xs:dateTime" name="new_date" use="optional"/>
        <xs:attribute type="xs:int" name="spectators" use="optional"/>
        <xs:attribute type="xs:int" name="laps_completed" use="optional"/>
        <xs:attribute type="xs:int" name="rounds_completed" use="optional"/>
        <xs:attribute type="xs:int" name="air_temperature" use="optional"/>
        <xs:attribute type="xs:int" name="track_temperature" use="optional"/>
        <xs:attribute type="xs:int" name="humidity" use="optional"/>
        <xs:attribute type="stageWeatherType" name="weather" use="optional"/>
        <xs:attribute type="xs:boolean" name="pit_open" use="optional"/>
    </xs:complexType>
    <xs:simpleType name="stageStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Cancelled"/>
            <xs:enumeration value="Finished"/>
            <xs:enumeration value="Grid must be cleared"/>
            <xs:enumeration value="In grid"/>
            <xs:enumeration value="Not started"/>
            <xs:enumeration value="Red and yellow striped flag"/>
            <xs:enumeration value="Red flag"/>
            <xs:enumeration value="Running"/>
            <xs:enumeration value="Safety car"/>
            <xs:enumeration value="Yellow flag"/>
            <xs:enumeration value="Warmup"/>
            <xs:enumeration value="White flag"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="stageTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="event"/>
            <xs:enumeration value="lap"/>
            <xs:enumeration value="practice"/>
            <xs:enumeration value="qualifying"/>
            <xs:enumeration value="qualifying_part"/>
            <xs:enumeration value="race"/>
            <xs:enumeration value="season"/>
            <xs:enumeration value="sport"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="stageSummaryType">
        <xs:complexContent>
            <xs:extension base="stageType" >
                <xs:sequence>
                    <xs:element type="venueType" name="venue" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="stageSummarySubstageType" name="parents" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="stageSummarySubstageType" name="stages" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="stageCompetitorsType" name="competitors" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="stageTeamsType" name="teams" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="venueType">
        <xs:attribute type="venueUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="city" use="required"/>
        <xs:attribute type="xs:string" name="country" use="required"/>
        <xs:attribute type="xs:string" name="country_code" use="required"/>
        <xs:attribute type="xs:string" name="state"/>
        <xs:attribute type="xs:string" name="address" use="optional"/>
        <xs:attribute type="xs:string" name="construction_year" use="optional"/>
        <xs:attribute type="xs:string" name="coordinates" use="optional"/>
        <xs:attribute type="xs:int" name="curves_left" use="optional"/>
        <xs:attribute type="xs:int" name="curves_right" use="optional"/>
        <xs:attribute type="xs:int" name="debut" use="optional"/>
        <xs:attribute type="xs:string" name="dimensions" use="optional"/>
        <xs:attribute type="xs:string" name="googlemaps" use="optional"/>
        <xs:attribute type="xs:string" name="laps" use="optional"/>
        <xs:attribute type="xs:int" name="length" use="optional"/>
        <xs:attribute type="xs:string" name="phone" use="optional"/>
        <xs:attribute type="xs:string" name="url_official" use="optional"/>
    </xs:complexType>
    <xs:complexType name="stageWithParentsType">
        <xs:complexContent>
                <xs:extension base="stageType" >
                    <xs:sequence>
                        <xs:element type="venueType" name="venue" minOccurs="0" maxOccurs="1"/>
                        <xs:element type="stageParentType" name="parents" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="stageParentType">
        <xs:sequence>
            <xs:element type="stageWithParentsType" name="stage" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="stageSubstageType">
        <xs:sequence>
            <xs:element type="stageWithStagesType" name="stage" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="stageSummarySubstageType">
        <xs:sequence>
            <xs:element type="stageSummaryType" name="stage" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="stageWithStagesType">
        <xs:complexContent>
            <xs:extension base="stageType" >
                <xs:sequence>
                    <xs:element type="stageSubstageType" name="stages" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="stageCompetitorsType">
        <xs:sequence>
            <xs:element type="competitorWithResultType" name="competitor" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="stageTeamsType">
        <xs:sequence>
            <xs:element type="teamWithResultType" name="team" maxOccurs="unbounded" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="stageWeatherType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Cloudy"/>
            <xs:enumeration value="Lightly clouded"/>
            <xs:enumeration value="Low rainfall"/>
            <xs:enumeration value="Heavy rainfall"/>
            <xs:enumeration value="Sunny"/>
            <xs:enumeration value="Rainy"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>