motogp_library/motogp_probabilities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd"/>
    <xs:include schemaLocation="team.xsd"/>
    <xs:include schemaLocation="competitor.xsd"/>
    <xs:complexType name="probabilitiesType">
        <xs:sequence>
            <xs:element type="marketsType" name="markets" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="marketsType">
        <xs:sequence>
            <xs:element type="marketType" name="market" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="marketType">
        <xs:sequence>
            <xs:element type="outcomesType" name="outcomes" minOccurs="1" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required" />
        <xs:attribute type="marketTypeType" name="type" use="optional"/>
        <xs:attribute name="description" type="xs:string" use="optional" />
    </xs:complexType>
    <xs:simpleType name="marketTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="competitor"/>
            <xs:enumeration value="team"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="outcomesType">
        <xs:sequence>
            <xs:element type="outcomeType" name="outcome" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="outcomeType">
        <xs:sequence>
            <xs:element type="competitorWithTeamType" name="competitor" minOccurs="0" maxOccurs="1" />
            <xs:element type="teamType" name="team" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute type="competitorUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:double" name="probability" use="required"/>
    </xs:complexType>
</xs:schema>