motogp_library/motogp_team.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd"/>
    <xs:complexType name="teamType">
        <xs:attribute type="competitorUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="gender" use="required"/>
        <xs:attribute type="xs:string" name="nationality" use="required"/>
        <xs:attribute type="xs:string" name="country_code" use="required"/>
    </xs:complexType>
    <xs:complexType name="teamWithResultType">
        <xs:complexContent>
            <xs:extension base="teamType" >
                <xs:sequence>
                    <xs:element type="teamType" name="team" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="teamResultType" name="result" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="teamResultType">
        <xs:attribute type="xs:double" name="points" use="optional"/>
        <xs:attribute type="xs:int" name="position" use="optional"/>
        <xs:attribute type="xs:int" name="grid" use="optional"/>
        <xs:attribute type="xs:int" name="podiums" use="optional"/>
        <xs:attribute type="xs:int" name="pole_positions" use="optional"/>
        <xs:attribute type="xs:int" name="victories" use="optional"/>
        <xs:attribute type="xs:int" name="fastest_laps" use="optional"/>
        <xs:attribute type="xs:int" name="races" use="optional"/>
        <xs:attribute type="xs:int" name="victory_pole_and_fastest_lap" use="optional"/>
        <xs:attribute type="xs:int" name="races_started" use="optional"/>
        <xs:attribute type="xs:int" name="races_with_points" use="optional"/>
        <xs:attribute type="xs:int" name="podiums_both_drivers" use="optional"/>
        <xs:attribute type="xs:int" name="points_both_drivers" use="optional"/>
        <xs:attribute type="xs:int" name="double_victories" use="optional"/>
    </xs:complexType>
</xs:schema>
