motogp_library/motogp_info.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd"/>
    <xs:complexType name="infoType">
        <xs:attribute type="xs:string" name="back_wing_color" use="optional"/>
        <xs:attribute type="xs:string" name="chief_engineer" use="optional"/>
        <xs:attribute type="xs:string" name="country" use="optional"/>
        <xs:attribute type="xs:string" name="country_code_of_residence" use="optional"/>
        <xs:attribute type="xs:string" name="country_of_residence" use="optional"/>
        <xs:attribute type="xs:string" name="date_of_birth" use="optional"/>
        <xs:attribute type="xs:string" name="debut" use="optional"/>
        <xs:attribute type="xs:string" name="first_points" use="optional"/>
        <xs:attribute type="xs:string" name="first_pole" use="optional"/>
        <xs:attribute type="xs:string" name="first_victory" use="optional"/>
        <xs:attribute type="xs:string" name="foundation_year" use="optional"/>
        <xs:attribute type="xs:string" name="front_color" use="optional"/>
        <xs:attribute type="xs:string" name="front_wing_color" use="optional"/>
        <xs:attribute type="xs:string" name="height" use="optional"/>
        <xs:attribute type="xs:string" name="location" use="optional"/>
        <xs:attribute type="xs:string" name="middle_back_center_color" use="optional"/>
        <xs:attribute type="xs:string" name="middle_back_sides_color" use="optional"/>
        <xs:attribute type="xs:string" name="middle_sides_color" use="optional"/>
        <xs:attribute type="xs:string" name="place_of_birth" use="optional"/>
        <xs:attribute type="xs:string" name="president" use="optional"/>
        <xs:attribute type="xs:string" name="salary" use="optional"/>
        <xs:attribute type="xs:string" name="sports_director" use="optional"/>
        <xs:attribute type="xs:string" name="technical_director" use="optional"/>
        <xs:attribute type="xs:string" name="url_official" use="optional"/>
        <xs:attribute type="xs:string" name="url_other" use="optional"/>
        <xs:attribute type="xs:string" name="vehicle_chassis" use="optional"/>
        <xs:attribute type="xs:string" name="vehicle_construction_year" use="optional"/>
        <xs:attribute type="xs:string" name="vehicle_tyres" use="optional"/>
        <xs:attribute type="xs:string" name="wcs_won" use="optional"/>
        <xs:attribute type="xs:string" name="weight" use="optional"/>
    </xs:complexType>
</xs:schema>