motogp_library/motogp_competitor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common/urn.xsd"/>
    <xs:include schemaLocation="./team.xsd"/>
    <xs:complexType name="competitorType">
        <xs:attribute type="competitorUrn" name="id" use="required"/>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="gender" use="required"/>
        <xs:attribute type="xs:string" name="nationality" use="required"/>
        <xs:attribute type="xs:string" name="country_code" use="required"/>
    </xs:complexType>
    <xs:complexType name="competitorWithResultType">
        <xs:complexContent>
            <xs:extension base="competitorType" >
                <xs:sequence>
                    <xs:element type="teamType" name="team" minOccurs="0" maxOccurs="1"/>
                    <xs:element type="competitorResultType" name="result" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="competitorWithTeamType">
        <xs:complexContent>
            <xs:extension base="competitorType" >
                <xs:sequence>
                    <xs:element type="teamType" name="team" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="competitorResultType">
        <xs:attribute type="xs:double" name="points" use="optional"/>
        <xs:attribute type="xs:int" name="position" use="optional"/>
        <xs:attribute type="xs:int" name="victories" use="optional"/>
        <xs:attribute type="xs:int" name="races" use="optional"/>
        <xs:attribute type="xs:int" name="races_with_points" use="optional"/>
        <xs:attribute type="xs:int" name="pole_positions" use="optional"/>
        <xs:attribute type="xs:int" name="podiums" use="optional"/>
        <xs:attribute type="xs:int" name="bike_number" use="optional"/>
        <xs:attribute type="xs:int" name="victory_pole_and_fastest_lap" use="optional"/>
        <xs:attribute type="xs:int" name="fastest_laps" use="optional"/>
        <xs:attribute type="xs:int" name="laps" use="optional"/>
        <xs:attribute type="competitorResultStatusType" name="status" use="optional" />
        <xs:attribute type="xs:string" name="gap" use="optional"/>
        <xs:attribute type="xs:string" name="fastest_lap_time" use="optional"/>
        <xs:attribute type="xs:double" name="speed" use="optional"/>
        <xs:attribute type="xs:int" name="grid" use="optional"/>
        <xs:attribute type="xs:string" name="time" use="optional"/>
        <xs:attribute type="xs:int" name="pitstop_count" use="optional"/>
        <xs:attribute type="xs:boolean" name="dns" use="optional"/>
        <xs:attribute type="xs:boolean" name="dnf" use="optional"/>
        <xs:attribute type="xs:boolean" name="dsq" use="optional"/>
    </xs:complexType>
    <xs:simpleType name="competitorResultStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Accident"/>
            <xs:enumeration value="Accident Damage"/>
            <xs:enumeration value="Brakes"/>
            <xs:enumeration value="Did not qualify"/>
            <xs:enumeration value="Did not start"/>
            <xs:enumeration value="Disqualified"/>
            <xs:enumeration value="Driveshaft"/>
            <xs:enumeration value="Electrical"/>
            <xs:enumeration value="Engine"/>
            <xs:enumeration value="Finished"/>
            <xs:enumeration value="Gearbox"/>
            <xs:enumeration value="Hydraulics"/>
            <xs:enumeration value="In race"/>
            <xs:enumeration value="Mechanical"/>
            <xs:enumeration value="Oil pressure"/>
            <xs:enumeration value="Out"/>
            <xs:enumeration value="Penalty"/>
            <xs:enumeration value="Pit stop"/>
            <xs:enumeration value="Radiator Damage"/>
            <xs:enumeration value="Retired"/>
            <xs:enumeration value="Technical"/>
            <xs:enumeration value="Transmission"/>
            <xs:enumeration value="Water pressure"/>
            <xs:enumeration value="Wheel"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>