motogp_library/probabilities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.sportradar.com/sportsapi/v1/motogp" xmlns="http://schemas.sportradar.com/sportsapi/v1/motogp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../../includes/motogp/stage.xsd" />
    <xs:include schemaLocation="../../includes/motogp/probabilities.xsd" />
    <xs:element name="probabilities" type="genericStageProbabilities" />
    <xs:complexType name="genericStageProbabilities">
        <xs:sequence>
            <xs:element type="stageWithParentsType" name="stage" minOccurs="0" maxOccurs="unbounded" />
            <xs:element type="probabilitiesType" name="probabilities" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute type="xs:dateTime" name="generated_at"/>
    </xs:complexType>
</xs:schema>